<div class="app">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Todos</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{ todo.todo }}</td>
        <td>{{ todo.priority }}</td>
      </tr>
    </tbody>
  </table>

  <form>
    <div class="mt-3 form-floating card" style="float: left">
      <input
        type="text"
        class="form-control"
        name="todoId"
        id="floatingInput"
        #todoId
      />
      <label for="floatingInput">search by todoId</label>
      <button
        (click)="searchTodo(todoId.value)"
        class="btn btn-primary"
        style="width: 200px"
      >
        Search
      </button>
      <h4 class="mt-4" *ngIf="foundTodo">
        Did find the todo: {{ foundTodo.todo }} {{ foundTodo.priority }}
      </h4>
    </div>
  </form>

  <div class="mt-3 card" style="float: right">
    <div class="form-floating">
      <input id="new-todo-name" class="form-control" #todoName />
      <label for="floatingInput">Todo name</label>
    </div>
    <div class="form-floating">
      <input id="new-todo-prio" class="form-control" #todoPrio />
      <label for="floatingInput">Todo priority</label>
    </div>
    <button
      type="button"
      style="width: 200px"
      class="add-button btn btn-primary"
      (click)="
        addNewTodo(todoName.value, todoPrio.value);
        todoName.value = '';
        todoPrio.value = ''
      "
    >
      Add new Todo
    </button>
  </div>
</div>
